
<!DOCTYPE HTML>

<html>
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>List of Product Nutrition</h1>
	<table>
		<tr>
			<th>Product Name</th>
			<th>Nutrition IDs</th>
			<th>Calories</th>
			<th>Carbs</th>
		</tr>
		<tr>
		<td>ID: 100</td>
		<td>Product Name: -782721911</td>
		<td>Calories: 1042047860</td>
		<td>Carbs: -942475105</td>
		</tr>
		<tr>
		<td>ID: 127</td>
		<td>Product Name: Food</td>
		<td>Calories: 100</td>
		<td>Carbs: 3</td>
		</tr>
		<tr>
		<td>ID: 128</td>
		<td>Product Name: Water</td>
		<td>Calories: 0</td>
		<td>Carbs: 0</td>
		</tr>
		<tr>
		<td>ID: 129</td>
		<td>Product Name: Chips</td>
		<td>Calories: 100</td>
		<td>Carbs: 60</td>
		</tr>
		<tr>
		<td>ID: 130</td>
		<td>Product Name: Fruit</td>
		<td>Calories: 50</td>
		<td>Carbs: 4</td>
		</tr>
		<tr>
		<td><a href="/view-nutrition/131"> 131</td>
		<td>Product Name: Chocolate</td>
		<td>Calories: 200</td>
		<td>Carbs: 80</td>
		</tr>
	</table>
	<p>
		<a href="/nutrition">Submit another product nutrition</a>
		<!-- <form action="#" th:action="@{/nutr}" th:object="${nutrition}" method="get">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
	</form> -->
	</p>
</body>
</html>