<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Nutrition</h1>
    <p th:text="'id: ' + ${nutrition.id}" />
    <p th:text="'Product Name: ' + ${nutrition.product}" />
    <p th:text="'Calories: ' + ${nutrition.calories}" />
    <p th:text="'Carbs: ' + ${nutrition.carbs}" />
    <a href="/nutritions">View List</a>
    <a th:href="@{'/edit-nutrition/' + ${nutrition.id}}">Edit</a>
    <a th:href="@{'/delete-nutrition/' + ${nutrition.id}}">Delete</a>
</body>
</html>