<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>List of Product Nutrition</h1>
	<form action="#" th:action="@{/nutritions}" method="post">
		<table>
			<tr>
				<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
				<th>Nutrition IDs</th>
				<th>Product Name</th>
				<th>Calories</th>
				<th>Carbs</th>

			</tr>
			<tr th:each="nutrition: ${nutritions}">
				<td sec:authorize="hasRole('ROLE_ADMIN')"><input type="checkbox" name="deleteIds"
					th:value="${nutrition.id}" /></td>
				<td align="center"><a
					th:href="@{'/view-nutrition/' + ${nutrition.id}}"
					th:text="${nutrition.id}"></a></td>
				<td th:text="${nutrition.product}" />
				<td th:text="${nutrition.calories}" />
				<td th:text="${nutrition.carbs}" />
			</tr>
		</table>
		<span sec:authorize="hasRole('ROLE_ADMIN')">
			<input type="submit" value="delete" />
		</span>
	</form>
	<p>
		<a href="/nutrition">Submit another product nutrition</a>
	</p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>